/*
Theme Name: Tain Child
Description: Child Theme for Tain Theme
Author: zozothemes
Version: 1.0
Template: tain
Tags: one-column, two-columns, right-sidebar, flexible-header, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: zozothemes
*/

/*Custom Style Code Right Here */

.section-title-wrapper .title-wrap > .section-title:after {
    color: transparent;
    content: none;
}

span.menu-tag.menu-tag-hot {
    background: #fa0001 !important;
    left: 25% !important;
    right: auto !important;
}

.header-sticky .navbar a:active, .sticky-scroll.show-menu .navbar a:active, .header-sticky .navbar .tain-main-menu .current-menu-item > a, .sticky-scroll.show-menu .navbar .tain-main-menu .current-menu-item > a, .sticky-scroll.show-menu .navbar .tain-main-menu .current-menu-ancestor > a, .header-sticky .navbar a.active, .sticky-scroll.show-menu .navbar a.active {
    color: #fa0001 !important;
}

.testimonials .wp-block-post-title {
	font-size: 1.5rem;
    line-height: 1.75rem;	
	color: #555 !important;
}


.testimonials .wp-block-post-date {
	font-size:0.75rem;	
	color:#aeaeae;
}

.testimonials .wp-block-post-excerpt p,
.testimonials .wp-block-post-content p {
	color:#777;
	line-height:1.5rem;
}

.post-template-default .navbar-items.nav.pull-right,
.post-template-default .post-meta .nav .nav-item:first-child,
.post-template-default  .right-widget-area {
	display:none !important;
}

.testimonials .wp-block-post-excerpt a {
	display:inline-block;
	margin-top:1rem;
}