.loop-product-wrap {

    padding: 0 15px;

    position: relative;

    overflow: hidden;

}

.woocommerce .loop-product-wrap > * {

    text-align: center !important;

}

.woocommerce ul.products {

	margin: 0 -15px;

}

.woocommerce ul.products.owl-carousel {

    margin: 0;

}

.woocommerce ul.products li.product {

	display: inline-block;

    margin: 0px;

    margin-bottom: 35px;

}

.woocommerce.single .woocommerce-product-gallery {

	border: 2px solid #eee;

}

/* Woo Columns */

.woocommerce ul.products.shop-col-6 li.product {

	width: 16.666%;

}

.woocommerce ul.products.shop-col-5 li.product {

	width: 20%;

}

.woocommerce ul.products.shop-col-4 li.product {

	width: 25%;

}

.woocommerce ul.products.shop-col-3 li.product {

	width: 33.3333%;

}

.woocommerce ul.products.shop-col-2 li.product {

	width: 46%;

}

/* Woo Top Meta */

.woo-top-meta > form {

    display: inline-block;

}

.woocommerce-product-gallery figure {

    max-width: none;

}

.mini-cart-items i.icon-bag {

    font-size: 16px;

}

.mini-cart-items a.cart-contents:hover {

    color: inherit;

}

header .cart-contents, .mobile-header .cart-bar-toggle {

    position: relative;

}

.woo-icon-count, .mobile-header .woo-icon-count {

    color: #fff;

    font-size: 9px;

    height: 18px;

    line-height: 18px;

    position: absolute;

    right: -14px;

    text-align: center;

    top: -15px;

    min-width: 18px;

    width: auto;

}

.cart-dropdown-menu {

    left: auto;

    margin: 0;

    right: 0;

    width: 210px;

    padding: 20px 15px;

}

.cart-dropdown-menu > li > * {

    display: inline-block;

}

.cart-dropdown-menu .product-remove {

    background: #f6f6f6;

    border-radius: 50%;

    -ms-border-radius: 50%;

    -moz-border-radius: 50%;

    -o-border-radius: 50%;

    -webkit-border-radius: 50%;    

    height: 27px;

    line-height: 28px;

    position: absolute;

	right: 0;

	text-align: center;

    top: 50%;

    transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -moz-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    -webkit-transform: translateY(-50%);    

	width: 27px;    

}

.cart-dropdown-menu .product-name > a {

    overflow: hidden!important;

    text-overflow: ellipsis;

    display: inline-block;

    width: 90%!important;

    white-space: nowrap;

    font-weight: 700;

}

.cart-dropdown-menu .product-name {

    color: #333333;

    font-size: 14px;

    line-height: 20px;

    width: auto;

    max-width: 150px;

    vertical-align: middle;

}

.cart-dropdown-menu img {

    margin: 0 !important;

}

.cart-dropdown-menu > li .product-thumbnail {

    margin-right: 10px;

    max-width: 60px;

    border: 1px solid #eaeaea;

    padding: 4px;

}

.cart-dropdown-menu > li {

    line-height: 1;

	position: relative;

    margin-bottom: 15px;

}

.cart-dropdown-menu > li:last-child {

    margin-bottom: 0;

}

.cart-dropdown-menu > li.mini-view-cart > a {

    padding: 15px 30px;

    border-radius: 4px;

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

    color: #fff;

    margin-top: 5px;

    font-size: 14px;

    font-weight: 600;

}

.cart-dropdown-menu > li.mini-view-cart > a:hover {

	background: #000;

	    color: #fff;

}

.remove-item-overlay > img {

    padding-top: 15px;

}

.mini-cart-dropdown .no-cart-items,

.mini-cart-dropdown .cart-update-pbm {

    color: #333333;

    line-height: 1;

    margin-bottom: 0;

    width: 100%;

	font-size: 14px;

}

.remove-item-overlay {

    left: 0;

    position: absolute;

    right: 0;

	top: 0;

	display: none;

}

.woocommerce ul.products.related-slider li.product, .woocommerce-page ul.products.related-slider li.product {

    margin: 30px 0px 75px 0px;

    width: auto;

    padding: 0 15px;

}

.woo-top-meta .woocommerce-result-count {

    margin: 11px 0;

}

.woo-top-meta form {

    display: inline-block;

	margin-bottom: 25px !important;

}

.woo-top-meta select {

    position: relative;

    display: inline-block;

    margin-left: 7px;

    line-height: 24px;

    padding: 8px 20px;

    height: 50px;

    width: 250px;

    color: #000;

    background-color: #fbfbfb;

    cursor: pointer;

    border: 1px solid #eaeaea;

    border-radius: 3px;

    -moz-border-radius: 3px;

    -webkit-border-radius: 3px;

    -o-border-radius: 3px;

    -ms-border-radius: 3px;

    background-position: right center;

    background-repeat: no-repeat;

    -webkit-appearance: none;

    -moz-appearance: none;

    -ms-appearance: none;

    -o-appearance: none;

}

.woocommerce ul.products li.product {

    padding-left: 15px;

    padding-right: 15px;

    border-radius: 5px;

}

.woocommerce ul.products li.product .loop-product-wrap:hover {

    box-shadow: 0 0 20px rgba(0,0,0,.1);

	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);

	-moz-box-shadow: 0 0 20px rgba(0,0,0,.1);

}

.woocommerce ul.products li.product .loop-product-wrap {

    background: #fff;

    padding: 20px 20px;

    box-shadow: 0 0 20px rgba(0,0,0,.05);

    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.05);

    -moz-box-shadow: 0 0 20px rgba(0,0,0,.05);

}

.woocommerce ul.products li.product .woocommerce-loop-product__title {

    color: #222;

    font-size: 16px;

    font-weight: 700;

    text-transform: capitalize;

    line-height: 25px;

    padding: 0.25em 0 2px 0;

}

.woocommerce .product .price, .woocommerce ul.products li.product .price {

    font-size: 15px;

    font-weight: 500;

}

.woocommerce ul.products li.product a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {

    margin-bottom: 5px;

    display: block;

}

.woocommerce ul.products li.product .price, .woocommerce .product .price,

.woocommerce ul.products.owl-carousel .loop-product-wrap ins .woocommerce-Price-amount.amount {

	color: #171422;

    margin-bottom: 0;

}

.woocommerce .product .price del .amount {

    font-size: 16px;

}

.woocommerce-account {

    color: #000;

}

.woocommerce.single .product .price {

    text-align: left;

}

.woocommerce .product .price del,

.woocommerce ul.products li.product .price del {

    padding-right: 10px;

    color: #848484;

}

.woocommerce .product .price ins, 

.woocommerce ul.products li.product .price ins, 

.woocommerce.single  .product .price ins {

    text-decoration: none;

    display: inline-block;

	font-weight: 500;

}

.woocommerce .product .onsale,

.woocommerce .product .onsale, .woocommerce ul.products li.product .onsale {

    left: 15px;

    top: 15px;

    padding: 0;

    color: #fff;

    right: auto;

    min-width: 50px;

    height: 20px;

    line-height: 22px;

    display: initial;

    overflow: hidden;

    min-height: auto;

    font-weight: 400;

    font-size: 11px;

    border-radius: 3px;

    -moz-border-radius: 3px;

    -webkit-border-radius: 3px;

    -o-border-radius: 3px;

    -ms-border-radius: 3px;

}

.woocommerce ul.products li.product .onsale {

	left: 15px;

    top: 22px;

}

.woocommerce ul.products li.product .woo-thumb-wrap {

    position: relative;

    margin-bottom: 20px;

    overflow: hidden;

    padding-bottom: 20px;

}

.woocommerce ul.products li.product .woo-thumb-wrap:before {

    content: "";

    width: 20px;

    height: 20px;

    position: absolute;

    left: 0;

    bottom: 0px;

    z-index: 999999;

    right: 0;

    margin: 0 auto;

    border-radius: 50%;

    bottom: -10px;

}

.woocommerce ul.products li.product .woo-thumb-wrap:after {

    content: "";

    width: 100%;

    height: 1px;

    background: #eaeaea;

    position: absolute;

    left: 0;

    bottom: 0px;

}

.post-type-archive-product .tain-content-inner {

    background: #ffffff;

}

.woocommerce ul.products li.product .added_to_cart {

    opacity: 0;

    padding: 14px 32px 11px 32px;

    font-weight: 700;

    font-size: 14px;

    text-transform: uppercase;

    border-radius: 4px;

    -moz-border-radius: 4px;

    -webkit-border-radius: 4px;

    -o-border-radius: 4px;

    -ms-border-radius: 4px;

    position: absolute;

    bottom: 100px;

    right: 15px;

    color: #fff;

}

.woocommerce ul.products li.product .woo-thumb-wrap .added_to_cart:hover {

    background: #000;

	color: #fff;

}

.woocommerce button.button, 

.woocommerce .product .button, 

.woocommerce.single .product .button, 

.woocommerce #review_form #respond .form-submit input {

	font-weight: 400;

    font-size: 17px;

	    line-height: 20px;

}

.woocommerce .product .button:hover, 

.woocommerce.single .product .button:hover,

.woocommerce button.button:hover,

.woocommerce #review_form #respond .form-submit input:hover {

	background: #000;

	color: #fff;

}

.woocommerce .woocommerce-ordering {

    margin: 0 0px 1em 10px;

}

.woocommerce .woocommerce-error .button,

.woocommerce .woocommerce-info .button,

.woocommerce .woocommerce-message .button,

.woocommerce-page .woocommerce-error .button,

.woocommerce-page .woocommerce-info .button,

.woocommerce-page .woocommerce-message .button {

	color: #222;

    font-weight: 600;

}

.woocommerce .woocommerce-error .button:hover,

.woocommerce .woocommerce-info .button:hover,

.woocommerce .woocommerce-message .button:hover,

.woocommerce-page .woocommerce-error .button:hover,

.woocommerce-page .woocommerce-info .button:hover,

.woocommerce-page .woocommerce-message .button:hover {

	color : #fff;

}

/* Single */

.product_meta > span {

    padding-right: 15px;

    display: block;

}

.woocommerce .summary .product_meta>span {

    display: block;

    margin-bottom: 0;

    font-size: 14px;

    line-height: 36px;

    font-weight: 700;

}

.woocommerce.single-product .summary .product_meta>span {

    font-size: 16px;

    line-height: 40px;

}

.woocommerce.single div.product div.summary .product_meta>span>* {

    padding-left: 5px;

}

.woocommerce.single-product .product_meta>span span, .woocommerce.single-product .product_meta>span a {

    font-size: 16px;

}

.woocommerce .summary .product_meta>span span, .woocommerce .summary .product_meta>span a {

    font-weight: 500;

    color: #6e6e6e;

	font-size: 14px;

}

.woocommerce.single .product_meta .post-social {

    margin-top: 20px;

}

.single-product .product_meta ul.social-icons > li > a {

    border: 1px solid #e2e2e2;

}

.single.woocommerce .product .entry-summary .price,

.single.woocommerce .product .entry-summary .woocommerce-product-details__short-description {

    margin-bottom: 30px;

}

.woocommerce div.product div.summary .product_meta {

    color: #000;

}

.single-product .product_meta {

    margin-bottom: 15px;

    border: 1px solid #eaeaea;

    border-left: 0;

    border-right: 0;

    padding: 28px 0;

}

.woocommerce div.product form.cart {

    margin-bottom: 40px;

}

.woocommerce div.product form.cart .variations select {

    border: 1px solid #eaeaea;

    padding: 10px;

    float: left;

}

.woocommerce .woocommerce-product-gallery ol.flex-control-thumbs {

    padding-top: 18px !important;

}

.woocommerce .woocommerce-tabs {

    padding-top: 30px;

}

.woocommerce #content div.product .woocommerce-tabs ul.tabs,

.woocommerce div.product .woocommerce-tabs ul.tabs, 

.woocommerce-page #content div.product .woocommerce-tabs ul.tabs, 

.woocommerce-page div.product .woocommerce-tabs ul.tabs {

    padding: 0;

    margin: 0;

    overflow: visible;

}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {

    border: none;

}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,

.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,

.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {

    color: #fff;

}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 

.woocommerce div.product .woocommerce-tabs ul.tabs li, 

.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, 

.woocommerce-page div.product .woocommerce-tabs ul.tabs li {

    text-align: center;

    padding-left: 0;

    padding-right: 0;

    border: 0px;

    margin: 0;

	background: #f0f0f0;

    border-radius: 0;

	-webkit-border-radius: 0;

	-moz-border-radius: 0;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li {

    margin-right: 5px;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {

    background: #000;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {

	padding: 15px 32px;

    font-size: 16px;

    font-weight: 400;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {

	

}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before, 

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, 

.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before, 

.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before {

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

    -o-box-shadow: none;

    -ms-box-shadow: none;

}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, 

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, 

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 

.woocommerce div.product .woocommerce-tabs ul.tabs li:before, 

.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after, 

.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, 

.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, 

.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before {

    border: none;

    width: 0;

    height: 0;

}

.woocommerce div.product .woocommerce-tabs .panel {

    margin: 0 0 4em;

}

.woocommerce #content div.product .woocommerce-tabs .panel,

.woocommerce div.product .woocommerce-tabs .panel,

.woocommerce-page #content div.product .woocommerce-tabs .panel,

.woocommerce-page div.product .woocommerce-tabs .panel {

	padding: 30px 25px;

    border: 1px solid #eaeaea;

    margin-top: -1px;

}

.woocommerce-page div.product .woocommerce-tabs .panel > p:last-child {

    margin-bottom: 0;

}

.woocommerce-page div.product .woocommerce-tabs .panel table.shop_attributes {

    margin-bottom: 0;

}

.woocommerce table.shop_attributes td {

    padding: 1px 20px;

}

.woocommerce-page div.product .woocommerce-tabs #tab-description h2 {

    display: none;

}

.woocommerce-tabs .panel h2 {

    margin: 0 0 10px;

    font-size: 22px;

    line-height: 30px;

    color: #000;

}

.woocommerce .related.products h2, .up-sells.upsells.products h2 {

    font-size: 26px;

    line-height: 28px;

    text-align: inherit;

    padding-bottom: 20px;

	color: #000;

}

section.related.products > h2 {

    color: #000;

}

.woocommerce div.product form.cart .button:focus {

    outline: unset;

}

.woocommerce ul.products li.product .star-rating {

	display: block;

    margin: 0 auto;

    text-align: center;

	margin-bottom: 10px;

}

.woocommerce .star-rating span {

    color: #ffb919;

}

.woocommerce .woocommerce-tabs .woocommerce-Reviews-title {

    margin-bottom: 30px;

    display: none;

}

.woocommerce #reviews #comments ol.commentlist {

    padding-left: 0;

    border-bottom: 1px solid #eaeaea;

    margin-bottom: 40px;

    padding-bottom: 0px;

}

.woocommerce #reviews #comments ol.commentlist li img.avatar {

    width: 70px;

    border: none;

    background: unset;

}

.woocommerce #reviews #comments ol.commentlist li .comment-text {

    margin: 0 0 0 98px;

    padding: 0;

    border: none;

}

.woocommerce #reviews #comments ol.commentlist li .comment-text .woocommerce-review__author {

    font-size: 16px;

    color: #252525;

}

.woocommerce #reviews #comments ol.commentlist li .comment-text .woocommerce-review__published-date {

    font-size: 13px;

    font-weight: 600;

}

.woocommerce .comment-respond .comment-reply-title {

    font-size: 22px;

    color: #252525;

    font-weight: 600;

}

.woocommerce .comment-respond form {

    margin-top: 15px;

}

.woocommerce #review_form #respond .comment-form p.comment-notes {

    margin-bottom: 22px;

}

.woocommerce #review_form .comment-form-author, 

.woocommerce #review_form .comment-form-email {

    width: 49.8%;

    display: inline-block;

}

.woocommerce #review_form .comment-form-author input,

.woocommerce #review_form .comment-form-email input {

    width: 100%;

}

.woocommerce #review_form #respond input {

    border: none;

    border-bottom: 1px solid #c7c7c7;

    padding-left: 0;

}

.woocommerce #review_form #respond input,

.woocommerce #review_form #respond textarea {

    padding: 10px;

    border: 1px solid #eaeaea;

}

.woocommerce-notices-wrapper {

    margin-bottom: 30px;

}

.woocommerce #review_form #respond .comment-form-comment {

    margin-bottom: 25px;

}

.woocommerce #review_form #respond p {

    margin: 0 0 25px;

}

.woocommerce #review_form .comment-form-author,

.woocommerce #review_form .comment-form-email {

    margin-bottom: 30px !important;

	width: 100%;

}

input[type=number]::-webkit-inner-spin-button, 

input[type=number]::-webkit-outer-spin-button {

	opacity:1;

}

.woocommerce.single .quantity input{

    line-height: 50px;

    margin-right: 14px;

}

.up-sells.upsells.products{

    margin-bottom: 50px;

    margin-top: 50px;

}

.single-product.woocommerce div.product .product_title {

    font-size: 28px;

    line-height: 35px;

    margin-bottom: 15px;

    font-weight: bold;

    color: #171422;

}

/* gallery */

.woocommerce-product-gallery .flex-control-thumbs {

    position: absolute;

    bottom: 10px;

	left: 10px;

	display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;

}

.woocommerce div.product div.images .flex-control-thumbs li img.flex-active {

    -webkit-box-shadow: 0px 5px 21px 1px rgba(72,73,121,0.09);

    -moz-box-shadow: 0px 5px 21px 1px rgba(72,73,121,0.09);

    box-shadow: 0px 5px 21px 1px rgba(72,73,121,0.09);

    border-color: transparent;

    border: 1px solid #eaeaea;

}

.woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img:hover {

    opacity: 1;

}

.woocommerce div.product div.images .flex-control-thumbs li {

    width: 60px;

    overflow: hidden;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    overflow: visible;

	margin-bottom: 5px;

}

.woocommerce div.product div.images .flex-control-thumbs li:last-child {

    margin-bottom: 0;

}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {

    clear: none;

}

.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {

    width: 44%;

}

.woocommerce div.product form.cart .variations {

    margin-bottom: 0px;

}

.woocommerce div.product .woocommerce-variation.single_variation .woocommerce-variation-price {

    margin-bottom: 25px;

}

/* Crt */

.woocommerce-cart .tain-content > .tain-content-inner {

	border-top: 0;

}

/* Woocommerce Grouped Products */

.woocommerce-grouped-product-list .woocommerce-grouped-product-list-item {

    margin-bottom: 10px;

    display: inline-block;

    float: left;

    width: 100%;

}

.woocommerce-grouped-product-list .woocommerce-grouped-product-list-item:last-child {

    margin-bottom: 0;

}

.woocommerce-grouped-product-list .woocommerce-grouped-product-list-item > * {

    margin-bottom: 10px;

}

.woocommerce .woocommerce-shipping-totals ul#shipping_method li {

    margin-bottom: 0;

}

.woocommerce-grouped-product-list-item__label a {

    font-weight: 600;

    font-size: 16px;

    color: #000;

}

.woocommerce-grouped-product-list-item__price p:last-child{

    margin-bottom: 0;

}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label, 

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__price {

    vertical-align: middle;

}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__price del span.woocommerce-Price-amount.amount {

    color: #848484;

}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__price span.woocommerce-Price-amount.amount {

    font-weight: 600;

}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__price del span.woocommerce-Price-amount.amount {

    font-size: 16px;

    font-weight: 700;

}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label label {

    margin-bottom: 0;

}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__price ins {

    text-decoration: unset;

}

/* Woocommerce Sidebar */

.widget-area .widget.widget_price_filter form {

    margin-top: 45px;

}

.woocommerce .widget_price_filter .ui-slider-horizontal {

    height: 2px;

	margin-bottom: 32px;	

}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {

	border: 0px;

    border-radius: 50%;

    -webkit-border-radius: 50%;

    -moz-border-radius: 50%;

    -ms-border-radius: 50%;

    -o-border-radius: 50%;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08), 0 4px 5px rgba(0, 0, 0, 0.02), 0 12px 10px rgba(0, 0, 0, 0.04), 0 2px 5px rgba(0, 0, 0, 0.05);

    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08), 0 4px 5px rgba(0, 0, 0, 0.02), 0 12px 10px rgba(0, 0, 0, 0.04), 0 2px 5px rgba(0, 0, 0, 0.05);

    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08), 0 4px 5px rgba(0, 0, 0, 0.02), 0 12px 10px rgba(0, 0, 0, 0.04), 0 2px 5px rgba(0, 0, 0, 0.05);

    -o-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08), 0 4px 5px rgba(0, 0, 0, 0.02), 0 12px 10px rgba(0, 0, 0, 0.04), 0 2px 5px rgba(0, 0, 0, 0.05);

    width: 15px;

    height: 15px;

    top: -7px;

    background: #333;

}

.widget_price_filter .price_label {

    font-size: 15px;

    font-weight: 500;

    line-height: 34px;

}

.woocommerce ul.cart_list li, 

.woocommerce ul.product_list_widget li {

    padding: 0 0 13px;

    margin: 13px 0 0;

    min-height: 65px;

}

.woocommerce ul.product_list_widget li {

    border-bottom: 1px solid #eee;

    position: relative;

}

.woocommerce ul.product_list_widget li:last-child {

    border: none;

    padding-bottom: 0;

}

.woocommerce ul.product_list_widget li a {

    font-weight: 500;

    position: relative;

}

.woocommerce ul.cart_list li img,

.woocommerce ul.product_list_widget li img {

    width: 80px;

    float: left;

    margin-right: 10px;

    min-height: 60px;

    margin-left: 0;

}

.product_list_widget .amount {

    font-weight: 500;

}

.woocommerce #respond input#submit.loading::after, 

.woocommerce a.button.loading::after, 

.woocommerce button.button.loading::after, 

.woocommerce input.button.loading::after {

    top: 17px;

    right: 12px;

}

/* Woocommerce Cart */

.woocommerce table.shop_table {

    margin-bottom: 0;

}

.woocommerce table.shop_table,

.woocommerce-page table.shop_table,

.woocommerce table.shop_table td,

.woocommerce-page table.shop_table td {

    border-color: #e1e1e1;

    border-radius: 0;

    -moz-border-radius: 0;

    -webkit-border-radius: 0;

    -o-border-radius: 0;

    -ms-border-radius: 0;

}

.woocommerce table.shop_table th,

.woocommerce-page table.shop_table th {

    color: #333;

	padding: 14px 12px;

}

.woocommerce table.shop_table th.product-remove, 

.woocommerce-page table.shop_table th.product-remove {

    padding: 0;

}

.woocommerce .col2-set, .woocommerce-page .col2-set {

    width: 100%;

    margin: 0 -15px;

}	

.woocommerce table.shop_table td.product-thumbnail, .woocommerce-page table.shop_table td.product-thumbnail {

    padding: 15px;

}

.shop_table.cart td.product-name > a {

    color: #333;

}

.shop_table.cart td.product-price .amount, .shop_table.cart td.product-subtotal .amount {

    font-weight: 600;

    color: #000;

    font-size: 15px;

}

.woocommerce #content table.cart a.remove,

.woocommerce table.cart a.remove,

.woocommerce-page #content table.cart a.remove,

.woocommerce-page table.cart a.remove {

    line-height: 23px;

    width: 26px;

    height: 26px;

    float: right;

    color: #999999 !important;

    font-weight: 300;

}

.woocommerce table.cart a.remove:hover {

    color: #fff!important;

}

.woocommerce #content table.cart td.actions .coupon .input-text,

.woocommerce table.cart td.actions .coupon .input-text,

.woocommerce-page #content table.cart td.actions .coupon .input-text,

.woocommerce-page table.cart td.actions .coupon .input-text {

    width: 40%;

    -webkit-border-radius: 4px;

    -ms-border-radius: 4px;

    -moz-border-radius: 4px;

    -o-border-radius: 4px;

    border-radius: 4px;

    border: 1px solid #e0e0e0;

    padding: 20px 17px;

    text-align: center;

	line-height: 18px;

   	font-size: 14px;

}

.woocommerce #content table.cart td.actions .coupon,

.woocommerce table.cart td.actions .coupon,

.woocommerce-page #content table.cart td.actions .coupon,

.woocommerce-page table.cart td.actions .coupon {

    width: 50%;

}

.woocommerce #content table.cart td.actions .coupon .button,

.woocommerce table.cart td.actions .coupon .button,

.woocommerce-page #content table.cart td.actions .coupon .button,

.woocommerce-page table.cart td.actions .coupon .button {

    float: left;

	font-size: 17px;

}

.woocommerce-cart table.cart td.actions .coupon .input-text {

    margin: 0 15px 0 0;

    padding: 19px 20px 15px;

}

.woocommerce table.cart td.actions .coupon .input-text::-webkit-input-placeholder {

   text-transform: uppercase;

   line-height: 18px;

   font-size: 14px;

}

.woocommerce table.cart td.actions .coupon .input-text:-moz-placeholder { 

   text-transform: uppercase;

   line-height: 18px;

   font-size: 14px;

}

.woocommerce table.cart td.actions .coupon .input-text::-moz-placeholder {  

   text-transform: uppercase;

   line-height: 18px;

   font-size: 14px;

}

.woocommerce table.cart td.actions .coupon .input-text:-ms-input-placeholder { 

   text-transform: uppercase;

   line-height: 18px;

   font-size: 14px;

}

.woocommerce table.shop_table td.product-remove, 

.woocommerce-page table.shop_table td.product-remove {

    padding: 0 15px 0 0;

}

.woocommerce table.shop_table td.product-name {

    font-weight: 600;

}

.woocommerce table.shop_table td.product-thumbnail {

    padding: 0;

}

.woocommerce-shipping-calculator .shipping-calculator-form {

    display: block !important;

}

.woocommerce form .form-row,

.woocommerce-page form .form-row {

    margin-bottom: 15px;

}

.woo-cart-collaterals-container,

.woo-cart-totals-container {

    margin-top: 35px;

}

.shipping label {

    display: inline;

}

.woocommerce table.shop_table_responsive tr td::before,

.woocommerce-page table.shop_table_responsive tr td::before {

    content: none;

}

.woocommerce-page .price_slider_amount .button {

    padding: 8px 30px 8px 30px;

}

.woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cross-sells h2 {

    font-size: 22px;

    line-height: 30px;

    text-transform: capitalize;

    margin-bottom: 25px;

    color: #000;

}

/* Woocommerce Checkout */

.woocommerce-checkout .tain-content > .tain-content-inner {

    border-top: 0;

}

.woocommerce form.checkout_coupon,

.woocommerce form.login,

.woocommerce form.register,

.woocommerce-page form.checkout_coupon,

.woocommerce-page form.login,

.woocommerce-page form.register {

    background: #fff;

    border-radius: 0;

    -moz-border-radius: 0;

    -webkit-border-radius: 0;

    -o-border-radius: 0;

    -ms-border-radius: 0;

}

.zozo-woocommerce-thank-you .order_info {

    margin-top: 20px;

    padding: 30px;

    border: 1px solid #e1e1e1;

}

.woocommerce #order_review table.shop_table thead,

.woocommerce-page #order_review table.shop_table thead,

.woocommerce #order_review .order-total {

    background-color: transparent;

}

.woocommerce-checkout-review-order table.shop_table td:last-child {

    padding-right: 15px;

}

.woocommerce-checkout-review-order table.shop_table th,

.woocommerce-checkout-review-order .woocommerce table.shop_table td {

    padding-left: 15px;

}

.woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table .cart_item .product-name {

    padding-left: 0;

    color: #000

}

.woocommerce form .form-row label {

    color: #000;

}

.woocommerce-checkout .tain-content-wrapper h2,

.woocommerce-checkout .tain-content-wrapper h3 {

    color: #000;

    margin-bottom: 30px;

}

.woocommerce.single form.cart>* {

    display: inline-block;

    width: auto;

}

.woocommerce.single .woocommerce-variation-add-to-cart>* {

    display: inline-block;

    width: auto;

}

.woocommerce.single .woocommerce-variation-add-to-cart button.disabled:hover {

    background: #000;

    color: #fff;

}

.woocommerce.single .woocommerce-variation-add-to-cart button.disabled {

    color: #222;

}

.woocommerce div.product form.cart .variations label {

    color: #222;

}

.woocommerce #order_review .shop_table thead tr th,

.woocommerce #order_review .shop_table .cart_item td {

    padding: 15px;

    background: transparent;

}

#ship-to-different-address .checkbox {

    display: inline-block;

    font-weight: 500;

}

#ship-to-different-address {

    width: 100%;

}

#ship-to-different-address .input-checkbox {

    margin-right: 10px;

}

.woocommerce-shipping-calculator button:focus{

    outline: none;

}

.woocommerce table.shop_table td{

    padding: 15px 20px;	

}

.woocommerce-cart-form table.shop_table td {

    padding: 20px 20px;

}

.woocommerce-cart .toggle-search-form input.form-control {

    border: 0;

    padding: 0;

}

.select2-drop-active,

.select2-container .select2-choice {

    border-color: transparent;

    padding: 5px 10px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);

    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);

    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);

    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);

}

span.select2-selection.select2-selection--single {

    border: 1px solid #e1e1e1;

    border-radius: 4px;

    height: 40px;

    line-height: 40px;

}

.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__rendered {

    height: 40px;

    line-height: 40px;

}

.woocommerce form .form-row .input-checkbox {

    position: relative;

}

.woocommerce button.button.alt:hover {

    color: #fff !important;

}

.woocommerce-cart .toggle-search-form input.form-control {

    border: 0;

    padding: 0;

}

.payment_methods label {

    font-weight: 600;

    font-size: 13px;

}

.woocommerce-checkout form .form-row label.inline {

    float: left;

    line-height: 40px;

    width: 100%;

}

.woocommerce-checkout .inline > input {

    float: left;

    margin-right: 5px;

}

.woocommerce #content .quantity,

.woocommerce .quantity,

.woocommerce-page #content .quantity,

.woocommerce-page .quantity {

    width: 100%;

}

.woocommerce #order_review table.shop_table,

.woocommerce-page #order_review table.shop_table {

    margin-right: 15px;

    width: 100%;

}

.order-total > th {

    line-height: 26px;

}

.woocommerce-cart-form table td, 

.woocommerce-cart-form table th{

    border:0;

}

.woocommerce-privacy-policy-text p{

    margin-bottom: 15px;

}

.woocommerce #order_review table.shop_table tfoot td,

.woocommerce #order_review table.shop_table tfoot th,

.woocommerce-page #order_review table.shop_table tfoot td,

.woocommerce-page #order_review table.shop_table tfoot th,

.woocommerce #order_review table.shop_table th,

.woocommerce-page #order_review table.shop_table th {

    background: transparent;

    font-size: 16px;

}

.single-sidebar-container .woocommerce-checkout-payment {

    width: 100%;

    float: left;

    margin: 30px 0 0;

}

.woocommerce #payment ul.payment_methods li input,

.woocommerce-page #payment ul.payment_methods li input {

    display: inline-block;

}

.woocommerce-checkout #payment div.payment_box {

    padding: 10px 31px;

}

.payment_box p {

    color: #333;

}

.woocommerce #payment,

.woocommerce-page #payment {

    background: none;

}

.payment_methods.methods {

    border: 1px solid #e3e3e3;

}

.woocommerce #payment div.payment_box:after,

.woocommerce-page #payment div.payment_box:after,

.woocommerce #payment div.payment_box,

.woocommerce-page #payment div.payment_box {

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

    -o-box-shadow: none;

    -ms-box-shadow: none;

    background: #f7f7f7;

    border: none;

    margin: 0;

}

#add_payment_method #payment div.payment_box::before,

.woocommerce-checkout #payment div.payment_box::before {

    content: none;

}

.woocommerce #order_review .payment_methods.methods {

    padding: 0;

}

.woocommerce-checkout #payment .form-row.place-order {

    padding: 20px 0 0;

}

.checkout #payment {

    margin-bottom: 75px;

}

.woocommerce-checkout #payment ul.payment_methods {

    border-color: #e1e1e1;

}

.woocommerce #order_review .payment_methods.methods > li {

    border-bottom: 1px solid #e1e1e1;

    padding: 18px 20px;

}

.woocommerce #order_review .payment_methods.methods > li:last-child {

    border-bottom: 0px;

}

.woocommerce #payment ul.payment_methods li img,

.woocommerce-page #payment ul.payment_methods li img {

    margin-right: 5px;

}

.checkout_coupon .form-row-last {

    text-align: right;

}

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {

    padding-left: 15px;

}

.woocommerce-billing-fields input {

    border: 1px solid #eee;

}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, 

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {

    max-width: 48%;

}

.woocommerce-checkout-payment {

    margin-top: 30px;

}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {

    float: right;

}

span.woocommerce-input-wrapper,

.woocommerce form .password-input {

    width: 100%;

}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {

	border: 1px solid #e1e1e1;

    padding: 0px 8px;

    border-radius: 4px;

    height: 40px;

    line-height: 40px !important;

}

.woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {

    height: 100px !important;

    line-height: 100px !important;

    padding: 6px 10px !important;

}

.woocommerce-error, .woocommerce-info, .woocommerce-message {

    padding: 1em 2em 1em 3.5em !important;

}

.woocommerce-message a.button{

    padding: 9px 20px 6px !important;

}

.woocommerce-checkout-review-order .woocommerce-terms-and-conditions-wrapper{

    width: 100%;

}   

.select2-container--default .select2-selection--single .select2-selection__rendered,

.woocommerce-checkout .form-row input,

.woocommerce-shipping-calculator input{

    color: #777;

}

/* Woocommerce Order Received */

.zozo-woocommerce-thank-you .order_info {

    margin: 20px 0 18px;

    padding: 20px 0px;

    border: 1px solid #e1e1e1;

}

.zozo-woocommerce-thank-you .thank-you-title,

.zozo-woocommerce-thank-you h2,

.woo-order-customer-info h2,

.zozo-woocommerce-order-details h2 {

    font-size: 32px;

    line-height: 42px;

}

.zozo-woocommerce-thank-you .thank-you-title {

    margin-bottom: 0;

}

.zozo-woocommerce-thank-you h3.thank-you-text {

    margin-top: 5px;

}

.woocommerce .order_details li {

    border-right: 1px solid #e1e1e1;

    text-transform: capitalize;

    margin: 0px 20px;

}

.woocommerce .order_details li > strong {

    font-size: 16px;

    font-weight: 300;

}

.woocommerce .order_details li.total,

.woocommerce-page .order_details li.total {

    border-right: none;

}

.woocommerce .order_details li.method,

.woocommerce-page .order_details li.method {

    margin-top: 18px;

    width: 100%;

}

.woocommerce table.shop_table.order_details,

.woocommerce-page table.shop_table.order_details {

    padding: 20px;

}

.woocommerce .zozo-woocommerce-order-details table.shop_table thead {

    background: none;

    height: auto;

}

.woocommerce .zozo-woocommerce-order-details table.shop_table tfoot td,

.woocommerce .zozo-woocommerce-order-details table.shop_table tfoot th,

.woocommerce-page .zozo-woocommerce-order-details table.shop_table tfoot td,

.woocommerce-page .zozo-woocommerce-order-details table.shop_table tfoot th,

.woocommerce .zozo-woocommerce-order-details table.shop_table thead th {

    border: none;

    font-weight: 300;

    font-size: 16px;

}

#order_review_heading {

    margin-top: 40px;

}

.woo-cart-totals-container tr th {

    padding-left: 0;

    font-size: 13px;

    line-height: 26px;

}

.woo-cart-totals-container tr td {

    text-align: right;

    padding-right: 0;

    color: #7f7f7f;

}

.woocommerce-account label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {

    margin: 12px;

}

/* Woocommerce Pagination */

.woocommerce #content nav.woocommerce-pagination ul,

.woocommerce nav.woocommerce-pagination ul,

.woocommerce-page #content nav.woocommerce-pagination ul,

.woocommerce-page nav.woocommerce-pagination ul {

    border: none;

    margin: 0;

}

.woocommerce #content nav.woocommerce-pagination ul li,

.woocommerce nav.woocommerce-pagination ul li,

.woocommerce-page #content nav.woocommerce-pagination ul li,

.woocommerce-page nav.woocommerce-pagination ul li {

    border: none;

}

.woocommerce nav.woocommerce-pagination ul li:last-child {

    margin-right: 0;

}

.woocommerce nav.woocommerce-pagination ul li {

    margin-right: 5px;

}

.woocommerce nav.woocommerce-pagination ul li a,

.woocommerce nav.woocommerce-pagination ul li span,

.woocommerce nav.woocommerce-pagination ul li a:hover,

.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current {

    padding: 0;

    color: #ffffff;

    display: inline-block;

    line-height: 50px;

    width: 50px;

    position: relative;

}

.woocommerce nav.woocommerce-pagination ul li a {

    border-bottom: 3px solid #000;

}

.woocommerce nav.woocommerce-pagination ul li span {

    border-bottom: 3px solid;

}

.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current {

    background: #000;

}

.woocommerce nav.woocommerce-pagination ul li a:hover,

.woocommerce nav.woocommerce-pagination ul li a:active,

.woocommerce nav.woocommerce-pagination ul li a:focus,

.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current {

    color: #fff;

}

.woocommerce nav.woocommerce-pagination ul li a:hover {

    background: #000;

    color: #fff;

}

.woocommerce nav.woocommerce-pagination ul li span.woo-page-prev,

.woocommerce nav.woocommerce-pagination ul li span.woo-page-next {

    font-size: 0;

    padding: 0;

    line-height: 0;

}

.woocommerce .next.page-numbers,

.woocommerce .prev.page-numbers {

    font-size: 0;

}

.woocommerce .next.page-numbers:hover {

    font-size: 0;

}

.woocommerce-page nav.woocommerce-pagination ul li a.prev:before {

	content: "\e64a";

}

.woocommerce-page nav.woocommerce-pagination ul li a.next:before {

    content: "\e649";

}

.woocommerce-page nav.woocommerce-pagination ul li a.prev:before, 

.woocommerce-page nav.woocommerce-pagination ul li a.next:before {

    font-family: 'themify';

    font-size: 18px;

    left: 0;

    right: 0;

    margin: 0 auto;

    position: absolute;

}

.woocommerce #content input.button, .woocommerce button.button.alt, .woocommerce #respond input#submit, 

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, 

.woocommerce-page #content input.button, .woocommerce-page #respond input#submit, 

.woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button,

.woocommerce input.button.alt, .woocommerce input.button.disabled, .woocommerce input.button:disabled[disabled],

.cart_totals .wc-proceed-to-checkout a.checkout-button {

    color: #fff;

    padding: 17px 30px 17px;

    text-align: center;

    line-height: 1;

    font-size: 17px;

	font-weight: 600;

    -webkit-border-radius: 30px;

    -ms-border-radius: 30px;

    -moz-border-radius: 30px;

    -o-border-radius: 30px;

    border-radius: 30px;

    height: auto;

}

.woocommerce-notices-wrapper a.button.wc-forward {

    font-size: 14px;

}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {

    color: #222;

    padding: 19px 30px 19px 30px;

    font-size: 17px;

}

.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, 

.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, 

.woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, 

.woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover,

.woocommerce input.button.alt:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled[disabled]:hover,

.cart_totals .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce button.button.alt:hover {

	background: #000;

	color: #fff;

}

.cart_totals .wc-proceed-to-checkout a.checkout-button {

    display: block;

    margin-bottom: 0;

    text-align: -webkit-auto;

    float: left;

}

.cart-collaterals {

    margin-top: 90px;

}

.woocommerce nav.woocommerce-pagination {

     margin-top: 30px;

}

/*Woocommerce Widgets*/

.woocommerce .widget-area {

    padding-top: 0;

}

.woocommerce .widget-area .widget {

    margin-bottom: 52px;

}

.woocommerce .widget-area .widget:last-child {

    margin-bottom: 0;

}

.woocommerce .widget.zozo_social_widget .widget-title {

    margin: 0;

    padding-bottom: 25px;

}

.woocommerce .footer-middle-wrap .widget-title {

    font-size: 18px;

    line-height: 19px;

}

.woocommerce .widget_product_search input {

    background: #eeeeee;

    border: none;

    font-style: italic;

    font-size: 15px;

    line-height: 45px;

    padding-left: 10px;

    color: rgba(0, 0, 0, 0.6);

    width: 100%;

    padding-right: 112px;

	height: 55px;

}

.woocommerce .widget_product_search button {

    position: absolute;

    padding: 1px 12px;

    line-height: 45px;

    margin-left: 0;

    top: 0;

    right: 0;

	height: 55px;

}

.widget_product_search form.woocommerce-product-search {

    position: relative;

    border-radius: 4px;

    overflow: hidden;

}

.woocommerce .widget_product_search button:focus {

    outline: none;

    box-shadow: none;

}

.woocommerce .widget.widget_product_categories li {

    padding: 11px 0;

    border-bottom: 1px solid #f7f7f7;

}

.woocommerce .widget.widget_product_categories li a {

    font-weight: 500;

    margin-bottom: 10px;

	color: #171422;

    padding-left: 28px;

    position: relative;

}

.woocommerce .widget.widget_product_categories li a::before {

    content: "";

    width: 15px;

    height: 15px;

    border-radius: 50%;

	-webkit-border-radius: 50%;

	-moz-border-radius: 50%;

    position: absolute;

    left: 0;

    top: 50%;

    transform: translateY(-50%);

	-webkit-transform: translateY(-50%);

	-moz-transform: translateY(-50%);

}

.widget.widget_product_tag_cloud .tagcloud:nth-child(2) {

    padding-top: 10px;

}

.widget.widget_product_tag_cloud a.tag-cloud-link {

    font-size: 13px !important;

    color: #171422;

    padding: 8px 12px;

    display: inline-block;

    text-decoration: none;

    line-height: normal;

    margin-bottom: 6px;

    margin-right: 2px;

    letter-spacing: 1px;

    border: 1px solid #eaeaea;

    -webkit-transition: all ease 0.35s;

    -moz-transition: all ease 0.35s;

    transition: all ease 0.35s;

}

.widget.widget_product_tag_cloud a.tag-cloud-link:hover {

    color: #fff;

}

/*Popular Products*/

.woocommerce ul.product_list_widget li a {

    position: relative;

	margin-bottom: 5px;

    font-weight: 700;

    color: #222;

}

.woocommerce ul.product_list_widget li .star-rating {

	margin-bottom: 4px;

}

.woocommerce .widget.widget_products ins .woocommerce-Price-amount.amount {

    font-weight: 600;

    color: #222;

    font-size: 18px;

}

/* Woocomerce elementor */

.elementor-element .woocommerce-page.columns-2 ul.products li.product, .elementor-element .woocommerce.columns-2 ul.products li.product {

	width: 50%;

}

.elementor-element .woocommerce-page.columns-3 ul.products li.product, .elementor-element .woocommerce.columns-3 ul.products li.product {

	width: 33.33333%;

}

.elementor-element .woocommerce-page.columns-4 ul.products li.product, .elementor-element .woocommerce.columns-4 ul.products li.product {

	width: 25%;

}

.elementor-element .woocommerce-page.columns-5 ul.products li.product, .elementor-element .woocommerce.columns-5 ul.products li.product {

	width: 20%;

}

.elementor-element .woocommerce-page.columns-6 ul.products li.product, .elementor-element .woocommerce.columns-6 ul.products li.product {

	width: 16.6666%;

}

.elementor-element .woocommerce ul.products li.product-category {

    margin: 0;

    padding: 0 15px;

    margin-bottom: 30px;

}

.elementor-element .tain-owl .woocommerce ul.products li.product {

    width: 100%;

    margin-top: 0;

	padding: 0;

}



/* category */

.woocommerce ul.products li.product .woocommerce-loop-category__title {

	text-align: center;

    padding: 25px 10px;

    position: absolute;

    left: 30px;

    right: 30px;

    bottom: 30px;

    background: #ffffff;

    opacity: 0.92;

    transition: all 0.5s ease 0s;

    -webkit-transition: all 0.5s ease 0s;

    -ms-transition: all 0.5s ease 0s;

    -moz-transition: all 0.5s ease 0s;

    -o-transition: all 0.5s ease 0s;

    color: #333333;

}

li.product-category.product a h2:before, div.product-category.product a h2:before {

    content: "";

    display: block;

    border: 1px solid #ffffff;

    position: absolute;

    top: -6px;

    left: -6px;

    right: -6px;

    bottom: -6px;

}

.product-category:hover img {

    transform: scale(1.2);

    transition: all 0.4s ease-in-out 0s;

    -moz-transition: all 0.4s ease-in-out 0s;

    -webkit-transition: all 0.4s ease-in-out 0s;

    -o-transition: all 0.4s ease-in-out 0s;

    -ms-transition: all 0.4s ease-in-out 0s;

}

.product-category img {

    transform: scale(1);

    margin-bottom: 0 !important;

    transition: all 0.4s ease-in-out 0s;

    -moz-transition: all 0.4s ease-in-out 0s;

    -webkit-transition: all 0.4s ease-in-out 0s;

    -o-transition: all 0.4s ease-in-out 0s;

    -ms-transition: all 0.4s ease-in-out 0s;

}

.product-category {

    position: relative;

    overflow: hidden;

}

.elementor-element .woocommerce ul.products li.product-category a {

    width: 100%;

    height: 100%;

    display: block;

    overflow: hidden;

    border-radius: 5px;

}

li.product-category.product img {

    border-radius: 5px;

}

.elementor-element .woocommerce ul.products li.product {

    margin-bottom: 30px;

}

.elementor-element .loop-product-wrap {

	margin: 0;

}

.woocommerce ul.products.owl-carousel .loop-product-wrap {

    padding: 0;

}

.woocommerce-page .tain-content-inner {

    border-top: 1px solid #eaeaea;

}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {

	width: 25%;

}

.woocommerce-page div.product .woocommerce-tabs .panel table td,

.woocommerce-page div.product .woocommerce-tabs .panel table th {

    color: #000;

}

.woocommerce-page div.product .woocommerce-tabs .panel td p,

.woocommerce-page div.product .woocommerce-tabs .panel th p {

	margin-bottom: 0;

}



/*--------------------------------------------------------------

Woo Layouts Styles

--------------------------------------------------------------*/

.elementor-element .tain-owl .woocommerce ul.products li.product {

    width: 100%;

}

ul.nav.woo-nav > li {

    padding: 0 6px;

    vertical-align: middle;

}

a.mini-wishlist-item, 

a.mini-cart-item {

    position: relative;

}

.woo-thumb-wrap .product-icons-pack {

    position: absolute;

    bottom: 35px;

    left: 50%;

    right: auto;

    text-align: center;

    transform: translateX(-50%);

    width: auto;

	transition: 0.5s all ease;

	-webkit-transition: 0.5s all ease;

	-moz-transition: 0.5s all ease;

	opacity: 0;

}

.woo-thumb-wrap .product-icons-pack > a {

    height: 60px;

    width: 60px;

    line-height: 60px;

    font-size: 20px;

    float: left;

    color: #fff;

    opacity: 1;

    transform: translateX(0px);

    -webkit-transform: translateX(0px);

    -moz-transform: translateX(0px);

    border-radius: 4px;

    text-align: center;

}

.loop-product-wrap:hover .woo-thumb-wrap .product-icons-pack {

    bottom: 35px;

	opacity: 1;

}

.woo-thumb-wrap .product-icons-pack > a:nth-child(1) {

    transition: all .3s ease-in-out 0s;

}

.woo-thumb-wrap .product-icons-pack > a:nth-child(2) {

    transform: translateX(-20px);

    transition: all .4s ease-in-out 0s;

}

.woo-thumb-wrap .product-icons-pack > a:nth-child(3) {

    transform: translateX(-20px);

    transition: all .5s ease-in-out 0s;

}
.woo-thumb-wrap .product-icons-pack > a.tain_ajax_add_to_cart {
    font-size: 0;
}

.woo-thumb-wrap .product-icons-pack > a.tain_ajax_add_to_cart span.ti-shopping-cart {
    font-size: 20px;
    line-height: 60px;
}
span.tain-product-favoured {

    position: absolute;

    top: 5px;

    right: 4px;

    z-index: 1;

    font-size: 10px;

    height: 22px;

    width: 22px;

    background: red;

    text-align: center;

    line-height: 25px;

    border-radius: 50%;

    color: #fff;

}

.woocommerce ul.products li.product a.added:after {

    content: "\e64c";

    font-family: 'themify';

    font-size: 8px;

    position: absolute;

    top: -6px;

    right: 0;

    padding: 2px;

    background: red;

    height: 15px;

    width: 15px;

    line-height: 12px;

    border-radius: 50%;

    color: #fff;

}

.woocommerce ul.products li.product a.loading:after,

a.btn.tain-woo-compare-ajax.loading:after {

    content: "\e60f";

    font-family: 'themify';

    font-size: 13px;

    position: absolute;

    top: 12px;

    right: 5px;

    line-height: 12px;

    -webkit-animation: spin 2s linear infinite;

    animation: spin 2s linear infinite;

	color: #222;

}



@-moz-keyframes spin {

    from { -moz-transform: rotate(360deg); }

    to { -moz-transform: rotate(deg); }

}

@-webkit-keyframes spin {

    from { -webkit-transform: rotate(360deg); }

    to { -webkit-transform: rotate(0deg); }

}

@keyframes spin {

    from {transform:rotate(360deg);}

    to {transform:rotate(0deg);}

}



table.tain-wishlist-table td {

    padding: 4px;

    vertical-align: middle;

}

a.tain-wishlist-remove, a.tain_ajax_add_to_cart {

    position: relative;

}

a.tain-wishlist-remove.loading, a.tain_ajax_add_to_cart.loading {

    color: #fff;

}

a.tain-wishlist-remove.loading:after, 

a.tain_ajax_add_to_cart.loading:after,

a.remove-cart-item.loading:after,

a.remove-wishlist-item.loading:after {

    position: absolute;

    content: "\e619";

    font-family: 'themify';

    left: 0;

	right: 0;

    background: #fff;

    -webkit-animation: spin 2s linear infinite;

    animation: spin 2s linear infinite;

    color: #000;

	margin: 0 auto;

    text-align: center;

}

p.no-wishlist-items {

    margin: 0;

    display: block;

}

.loop-product-wrap a.tain_ajax_add_to_cart.loading:after {

	background: transparent;

	right: 0;

    left: auto;

}

.loop-product-wrap a.tain_ajax_add_to_cart.loading {

	color: #333;

}

.tain-wishlist-table a.added_to_cart.wc-forward {

    display: none;

}

.elementor-element .tain-owl .woocommerce ul.products li.product {

    width: 100%;

}

.tain-product-short-view {

    max-width: 800px;

    background: #fff;

    padding: 15px;

    margin: 0 auto;

	position: relative;

	height: auto;

    overflow: hidden;

}



/* RTL WOO */

/*Cart*/

.rtl .cart-dropdown-menu {

    right: auto;

    left: 0;

}

.rtl .cart-dropdown-menu>li .product-thumbnail {

    margin-right: 0;

    margin-left: 10px;

}

.rtl .cart-dropdown-menu .product-remove {

    left: 0;

    right: auto;

}

.rtl .mini-cart-items > a > i {

    display: inline-block;

}

/*Shop*/

.rtl .woo-top-meta select {

    background-position: 16px center;

}

.rtl.woocommerce .product .price {

    text-align: right;

}

.rtl.woocommerce .product .price del,

.rtl.woocommerce ul.products li.product .price del {

    padding-left: 10px;

    padding-right: 0;

}

.rtl.woocommerce ul.cart_list li img,

.rtl.woocommerce ul.product_list_widget li img {

    float: right;

    margin-left: 10px;

    margin-right: 0;

}

.rtl.woocommerce div.product form.cart div.quantity {

    float: inherit;

    margin: 0 0 0 4px;

}

.rtl.woocommerce div.product form.cart .button {

    float: inherit;

}



@media only screen and (max-width: 1024px) {

	/*Woocommerce Styles*/

    .woo-top-meta select {

        width: 238px;

    }

}

@media only screen and (max-width:1024px) and (min-width:992px) {

    /* Woocommerce */

    .woocommerce-result-count {

        width: 100%;

    }

    .woo-top-meta select {

        margin-left: 0;

    }

}

@media only screen and (min-width : 992px){

	.col-lg-6 .woocommerce-result-count {

        width: 100%;

    }

    .col-lg-6 .woo-top-meta select {

        margin-left: 0;

    }

    .woocommerce .col-lg-6 ul.products.shop-col-2 li.product {

        width: 50%;

    }

    .woocommerce ul.products.shop-col-3 li.product {

        width: 33.333%;

    }

    .woocommerce ul.products.shop-col-4 li.product {

        width: 22.4%;

    }

    .woocommerce ul.products.shop-col-5 li.product {

        width: 20%;

    }

    .woocommerce ul.products.shop-col-6 li.product {

        width: 16.666%;

    }

}

@media only screen and (max-width: 768px) {

    /*Woocommerce Styles*/

    .woocommerce ul.products li.product {

        width: 50% !important;

        clear: both;

    }

    .woocommerce ul.products[class*=shop-col-] li.product:nth-child(2n) {

        clear: none !important;

    }

    .woocommerce ul.products li.product .woo-thumb-wrap img {

        width: 100%;

    }

    .woocommerce table.shop_table_responsive tr td,

    .woocommerce-page table.shop_table_responsive tr td {

        text-align: left !important;

    }

    .woocommerce #content table.cart td.actions .coupon .button,

    .woocommerce #content table.cart td.actions .coupon .input-text,

    .woocommerce #content table.cart td.actions .coupon input,

    .woocommerce table.cart td.actions .coupon .button,

    .woocommerce table.cart td.actions .coupon .input-text,

    .woocommerce table.cart td.actions .coupon input,

    .woocommerce-page #content table.cart td.actions .coupon .button,

    .woocommerce-page #content table.cart td.actions .coupon .input-text,

    .woocommerce-page #content table.cart td.actions .coupon input,

    .woocommerce-page table.cart td.actions .coupon .button,

    .woocommerce-page table.cart td.actions .coupon .input-text,

    .woocommerce-page table.cart td.actions .coupon input {

        width: 100%;

    }
    .woocommerce #content table.cart td.actions .coupon,

    .woocommerce table.cart td.actions .coupon,

    .woocommerce-page #content table.cart td.actions .coupon,

    .woocommerce-page table.cart td.actions .coupon {

        width: 100%;

    }
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        margin: 0 0px 15px 0;
    }

}



@media only screen and (max-width: 767px) {

	/*Woocommerce Styles*/

    .woo-top-meta select {

        margin-left: 0;

    }

    .post-comments-wrapper ul.children {

        padding-left: 10px;

    }

    .woocommerce-page div.product .woocommerce-tabs ul.tabs li,

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {

        display: block;

    }

    .woocommerce-page div.product .woocommerce-tabs ul.tabs li {

        margin-bottom: 5px;

    }

    .woocommerce .col2-set .col-1,

    .woocommerce-page .col2-set .col-1,

    .woocommerce .col2-set .col-2,

    .woocommerce-page .col2-set .col-2 {

        max-width: 100%;

    }

    .woocommerce-additional-fields {

        margin-top: 30px;

    }

}



@media only screen and (max-width: 640px) {

	.woo-top-meta>* {

        display: block;

        overflow: hidden;

        width: 100%;

    }

	.woocommerce ul.products {

		width: auto;

	}

}



@media only screen and (max-width : 540px){ 

	.woocommerce ul.products li.product {

	    width: 100% !important;

    	clear: both;

	}

}

@media only screen and (max-width : 479px){

	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {

		padding: 0;

	}

}