
.editor-styles-wrapper .wp-block, .editor-styles-wrapper .editor-block-list__block.wp-block[data-align=wide], .wp-block[data-align="wide"] {
	max-width: 1170px;
}.editor-styles-wrapper .wp-block:not([data-align="full"]) {
	max-width: 1170px;
}.editor-block-list__layout .editor-block-list__block,
.editor-styles-wrapper .editor-block-list__layout .editor-block-list__block p,
.block-editor__container .editor-styles-wrapper .mce-content-body,
.editor-styles-wrapper p,
.wp-block-button__link,.editor-styles-wrapper .wp-block-table__cell-content,
.block-editor-block-list__block {
			color: #797979;
			font-family: Roboto;
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			
			
			
			
}.post-type-post .editor-block-list__layout .editor-block-list__block {
	color: ; }.editor-block-list__layout .editor-block-list__block h1,
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input, h1 {
			color: #252525;
			font-family: Quicksand;
			font-weight: 700;
			font-size: 44px;
			line-height: 50px;
			
			
			
			
}.editor-block-list__layout .editor-block-list__block h2, h2{
			color: #252525;
			font-family: Quicksand;
			font-weight: 700;
			font-size: 36px;
			line-height: 48px;
			
			
			
			
}.editor-block-list__layout .editor-block-list__block h3, h3{
			color: #252525;
			font-family: Quicksand;
			font-weight: 700;
			font-size: 28px;
			line-height: 40px;
			
			
			
			
}.editor-block-list__layout .editor-block-list__block h4, h4, blockquote, blockquote p{
			color: #252525;
			font-family: Quicksand;
			font-weight: 700;
			font-size: 22px;
			line-height: 34px;
			
			
			
			
}.editor-block-list__layout .editor-block-list__block h5, h5{
			color: #252525;
			font-family: Quicksand;
			font-weight: 700;
			font-size: 18px;
			line-height: 30px;
			
			
			
			
}.editor-block-list__layout .editor-block-list__block h6, h6{
			color: #252525;
			font-family: Quicksand;
			font-weight: 700;
			font-size: 16px;
			line-height: 28px;
			
			
			
			
}.post-type-post .editor-block-list__layout .editor-block-list__block a{
}.post-type-post .editor-block-list__layout .editor-block-list__block a:hover{
}.post-type-post .editor-block-list__layout .editor-block-list__block a:active{
}.editor-block-list__layout .editor-block-list__block a{ color: #252525; 
}.editor-block-list__layout .editor-block-list__block a:hover{ color: #f74f22; 
}.editor-block-list__layout .editor-block-list__block a:active{ color: #f74f22; 
}.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-text-color) {
color: #f74f22; /* base: #0073a8; */
}


/* Button colors */
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), 
.entry-content .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color) {
	color: #f74f22; /* base: #005177; */
}
.components-panel__body>.components-panel__body-title button.components-button.components-panel__body-toggle {
    display: block;
}
.editor-block-list__layout .editor-block-list__block .wp-block-quote:not(.is-large):not(.is-style-large),
.editor-styles-wrapper blockquote.wp-block-quote.is-large,
.editor-styles-wrapper blockquote.wp-block-quote.is-style-large,body .editor-styles-wrapper blockquote,
.editor-styles-wrapper .wp-block-pullquote blockquote.has-light-gray-color {
border-color: #f74f22 !important; /* base: #0073a8; */
}
.editor-block-list__layout .editor-block-list__block blockquote.wp-block-quote.is-large, 
.editor-block-list__layout .editor-block-list__block blockquote.wp-block-quote.is-style-large {
	border-left-color: #f74f22;
}
.wp-block-quote[style*="text-align:right"], .wp-block-quote[style*="text-align: right"] {
	border-right-color: #f74f22;
}
.editor-block-list__layout .editor-block-list__block .wp-block-pullquote.is-style-solid-color:not(.has-background-color) {
background-color: #f74f22; /* base: #0073a8; */
}

.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__button,
.wp-block-button .wp-block-button__link, 
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button {
background-color: #f74f22; /* base: #0073a8; */
}


.wp-block-quote__citation:before, 
.wp-block-pullquote .wp-block-pullquote__citation:before,
blockquote cite a:before {
	background-color: #f74f22; /* base: #0073a8; */
}
.wp-block-quote__citation, 
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite a, 
cite.wp-block-quote__citation,.wp-block-pullquote .wp-block-pullquote__citation,
.block-editor-block-list__block.wp-block-button.is-style-outline .wp-block-button__link {
	color: #f74f22; /* base: #005177; */
}
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__button:hover,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
background-color: #333; /* base: #0073a8; */
}

/* Hover colors */
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__textlink:hover {
color: #f74f22; /* base: #005177; */
}
.editor-block-list__layout figure.wp-block-pullquote {
    border-bottom: none;
    border-top: none;
}
.wp-block-button__link {
	color: #fff;
}
body .wp-block-button__link:hover, body a.wp-block-button__link:hover {
    background: #333 !important;
    color: #fff !important;
}
.block-editor-block-list__layout .block-editor-block-list__block {
    line-height: 1.5em;
}
/* Do not overwrite solid color pullquote or cover links */
.editor-block-list__layout .editor-block-list__block .wp-block-pullquote.is-style-solid-color a,
.editor-block-list__layout .editor-block-list__block .wp-block-cover a {
color: inherit;
}
